
.gallery {
    position: relative;
    width: 100%;
    /*margin: auto;*/
    /*padding: auto;*/
    text-align: center;
}
.gallery div {
    /*display: inline-block;*/

    /*border: groove black 1px;*/
    width: 530px;
    margin: 40px auto;
}

.gallery div img {
    border: outset lightgray 10px;
    width: inherit;
    border-radius: 20px;
}

.gallery div p {
    margin-top: 5px;
    font-family: sans-serif;
}

sup {
    font-family: serif;
    font-size: 10px;
}

hr {
    color: lightgray;
}